NEXT_PUBLIC_SUPABASE_URL=https://***.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__***
NEXT_PUBLIC_APP_NAME="CBM AI"
NEXT_PUBLIC_APP_DESCRIPTION="SCG"
NEXT_PUBLIC_APP_COPYRIGHT="CBM AI"

# Public site URL (Optional: defaults to VERCEL_URL or http://localhost:3000)
# NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Allowed user emails (Comma-separated).
# If commented out or left empty, authentication is not required and /auth/login redirects to /
ALLOW_EMAIL=thanarar@scg.com

NEXT_PUBLIC_POSTHOG_TOKEN=phc_***
NEXT_PUBLIC_POSTHOG_HOST=https://t.cbmai.app
NEXT_PUBLIC_POSTHOG_APP=cbmai-labs